# Copyright (c) 2023 InPlay Inc.
# SPDX-License-Identifier: Apache-2.0

config GPIO_IN6XXE
	bool "IN6XXE GPIO driver"
	default y
	depends on DT_HAS_INPLAY_IN6XXE_GPIO_ENABLED
	help
	  Enable the IN6XXE GPIO driver.
