/dts-v1/;
#include <inplay/in612le.dtsi>
#include <mem.h>
#include "inplaydk_in612le-pinctrl.dtsi"

/ {
	model = "InPlay 612LE DK";
	compatible = "inplay,612le_dk";
	chosen {
		zephyr,sram = &sram0;
        zephyr,console = &uart0;
	};
	leds {
		compatible = "gpio-leds";
		led: led_0 {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
			label = "LED0";
		};
	};

	aliases {
		led0 = &led;
	};
};
&gpio0 {
	status = "okay";
};
&uart0 {
    status = "okay";
};
&sram0 {
	reg = <0x200000 DT_SIZE_K(128)>;
};


