

# Copyright (c) 2023 InPlay Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_INPLAYDK_IN612LE

config BOARD
	default "inplaydk_612le" 

endif # BOARD_INPLAYDK_IN612LE

choice BT_HCI_BUS_TYPE
    default BT_IN6XX if BT
endchoice

config BT_HCI_ACL_FLOW_CONTROL
	default n if BT