# nRF52 DK NRF52832 board configuration

# Copyright (c) 2016 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_INPLAYDK_IN612LE
	bool "InPlay DK 612LE"
	depends on SOC_IN6XXE
